<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145919975707-6v3kkaospoeell3f8jfajq32najsuaec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145919975707-6v3kkaospoeell3f8jfajq32najsuaec</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>145919975707-n4rhcof6gnn06v85psnq6m8puaa4v6ar.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2dsJb4x8YWLKI302f2Zd_YYuPbAgPRk0</string>
	<key>GCM_SENDER_ID</key>
	<string>145919975707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramaas.iguhallee</string>
	<key>PROJECT_ID</key>
	<string>iguhallee-d14f5</string>
	<key>STORAGE_BUCKET</key>
	<string>iguhallee-d14f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145919975707:ios:247e5e77d729f1002973be</string>
	<key>DATABASE_URL</key>
	<string>https://iguhallee-d14f5-default-rtdb.firebaseio.com</string>
</dict>
</plist>